.home-page {
    /* Стилі для сторінки домашньої */
    /* Наприклад: */
    background-color: #f0f0f0;
    padding: 20px;
  }

  .services-section {
    margin: 20px;
  }
  
  .service {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .service h3 {
    margin-top: 0;
  }
  
  .service p {
    margin-bottom: 0;
  }  

  .button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }