.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  .page-item {
    margin-right: 5px;
  }
  
  .page-link {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .page-link:hover {
    background-color: #f0f0f0;
  }
  
  .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }